<a onclick=<% if user_signed_in? %>"like()"<% else %>"guestWarning()"<% end %>>
    <% if not @liked %>
        <img src='/assets/tomato.png' onmouseover="this.src='/assets/tomato-hover.png'" onmouseout="this.src='/assets/tomato.png'" />
    <% else %>
        <img src='/assets/tomato-color.png' onmouseover="this.src='/assets/tomato-hover.png'" onmouseout="this.src='/assets/tomato-color.png'" />
    <% end %>
</a>
<a id="likes" data-toggle="modal" data-target="#like_modal">
    <%=@post.likes.length%> likes 
</a>