<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 style="position: absolute;">Scraps</h4>
    </div>
    <div class="modal-body">                            
        <% if @post_scraps.length > 0 %>
            <ul>
            <% @post_scraps.each do |scrap| %>
                <li><a href="/yojo/kitchen/<%=scrap.user_id%>"> <%= User.find(scrap.user_id).username %></a></li>
            <% end %>
            </ul>
        <% end %>
    </div>
  </div>
</div>