<% if @type == "1" %>
    Ingredient: 
    <input id="ingredient_search" class="bar" type="text" autofocus>
    <button class="roundbtn" type="button" onclick="combine()">search</button>
    
    <div id="ingredient_results"></div>
    
    <script>
        map.clear();
        new app.SearchIngredients;
        
        $("#ingredient_search").keydown(function(event) {
             if (event.keyCode == 13) {
                 event.preventDefault();
             }
        });
    </script>
<% elsif @type == "2" %>
    Yori:
    <input class="bar" type="text" name="yori" autocomplete="off" autofocus>
    <input class="roundbtn" type="submit" value="Search">
<% else %>
    User:
    <input class="bar" type="text" name="id" autocomplete="off" autofocus>
    <input class="roundbtn" type="submit" value="Search">
<% end %>