<select id="search_date" name="search_date">
  <option <%if @date != nil and @date == "today"%> selected <%end%>> today </option>
  <option <%if @date != nil and @date == "last week"%> selected <%end%>> last week </option>
  <option <%if @date != nil and @date == "last month"%> selected <%end%>> last month </option>
  <option <%if @date == nil || @date == "all"%> selected <%end%>> all </option>
</select>

<% if @type == "1" %>
    Ingredient: 
    <input id="ingredient_search" class="bar" type="text" autofocus>
    <button class="roundbtn" type="button" onclick="combine()">search</button>
    
    <div id="ingredient_results"></div>
    
    <script>
        map.clear();
        new app.SearchIngredients;
        
        $("#ingredient_search").keydown(function(event) {
             if (event.keyCode == 13) {
                 event.preventDefault();
             }
        });
    </script>
<% elsif @type == "2" %>
    Yori:
    <input class="bar" type="text" name="yori" autocomplete="off" autofocus>
    <input class="roundbtn" type="submit" value="Search">
<% else %>
    User:
    <input class="bar" type="text" name="id" autocomplete="off" autofocus>
    <input class="roundbtn" type="submit" value="Search">
<% end %>