<!-- Sidebar -->
<%= render 'sidebar' %>

<div class="yori-wrapper">
    <div class= "yori">
        <div class="yori-top">
            <div class="image-post"><p>Upload the main image of your recipe.</p></div>
            <br>
            
            <div class="title-post">
                <p>Yori Name: <input id="title" class="bar bar-input" type="text" placeholder="Enter your recipe's name."></p>
                <p id="title-alert" ></p>
                <br>
                <p>Description: <input id="subtitle" class="bar bar-input" placeholder="Describe your recipe in a line or two." type="text-box" ></p>
                <p id="subtitle-alert"></p>
            </div>
        </div>

        <input type="file" id="main-image">
        <p id="image-alert"></p>
        
        <div class="ingredient-post mt-4">
            <p id="bar-text">
                Ingredient: <input id="ingredient_search" class="bar" type="text" placeholder="Type ingredient here.">
                <div id="ingredient_results"></div>
            </p>
            <br>
            
            <p id="main-alert"></p> <p id="quantity-alert"></p> <p id="unit-alert"></p>
            <div class="row" style="display: inline-flex; width: 90%; margin-bottom: 1rem">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <b>Ingredient</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <b>Measure</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -3vw">
                  <b>Main</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -7vw">
                  <b>Seasoning</b>
                </div>
            </div>
            
            <div id="new_yori_ingredients"></div>
        </div>
        <br>
        <br>
        
        <p id="step-alert"></p>
        <div id="steps">
            <div id="1">
                <div class="step_num">STEP 1</div>
                <textarea id="step1" class="bar" rows="5" cols="50" placeholder='Add steps to complete your recipe.'></textarea>
                <button class="roundbtn" onclick="addMiddleStep(this)">add</button>
            </div>
        </div>
        
        <br>
        <br>
        <br>
        
        <button onclick="addYori()" class="roundbtn">upload</button>
        <button class="roundbtn" onclick="back()">cancel</button>
   </div>
</div>       

<script>
    var step = 1;
    
    map.clear();
    new app.YoriIngredients;
    
    function addYori() {
        var title = $('#title').val();
        var subtitle = $('#subtitle').val();
        var image = $('#main-image').prop('files')[0];
        var main_ingredient = "", optional_ingredient = "", seasoning = "";
        var steps = [];
        var ingredients = [], types = [], quantities = [], units = [];
        
        map.forEach(function(value, key) {
            var row = $('div[id="'+key+'"]').children().children();
            var name = row[0].innerHTML;
            var quantity = $('div[id="'+key+'"]').children().children('.quantity').val();
            var unit = $('div[id="'+key+'"]').children().children('.unit').children('option:selected').text();
            var main = row[3].checked;
            var season = row[4].checked;
         
            if (main) {
                main_ingredient += name+" ("+quantity+unit+"), ";
            }
            if (season) seasoning += name+" ("+quantity+unit+"), ";
            if (!main && !season) optional_ingredient += name+" ("+quantity+unit+"), ";
            
            ingredients.push(value);
            if (main && season) types.push(1);
            if (main && !season) types.push(2);
            if (!main && season) types.push(3);
            if (!main && !season) types.push(4);
            quantities.push(quantity);
            units.push(unit);
        });
        main_ingredient = main_ingredient.substring(0, main_ingredient.length-2);
        optional_ingredient = optional_ingredient.substring(0, optional_ingredient.length-2);
        seasoning = seasoning.substring(0, seasoning.length-2);
        
        for (i = 1; i <= step; i++) {
            steps.push($("#"+i).children('textarea').val());
        }

        var empty_quantity = false;
        quantities.forEach(function(i) {
            if (i == "") {
                empty_quantity = true;
            }
        });
        
        var empty_step = false;
        steps.forEach(function(i) {
            if (i == "") {
                empty_step = true;
            }
        });
        
        if (image == undefined || title == "" || main_ingredient == "" || empty_quantity || empty_step) {
            if (image == undefined) {
                $("#image-alert")[0].innerHTML = "*Please add the main image.*";
            } else {
                $("#image-alert")[0].innerHTML = "";
            }
            
            if (title == "") {
                $("#title-alert")[0].innerHTML = "*Please add your recipe name.*";
            } else {
                $("#title-alert")[0].innerHTML = "";
            }
            
            if (main_ingredient == "") {
                $("#main-alert")[0].innerHTML = "*Please add main ingredients*"
            } else {
                $("#main-alert")[0].innerHTML = "";
            }
            
            if (empty_step) {
                $("#step-alert")[0].innerHTML = "*Please add a step.*"
            } else {
                $("#step-alert")[0].innerHTML = "";
            }
           
            if (empty_quantity) {
                $("#quantity-alert")[0].innerHTML = "*Please add measures.*"
            } else {
                $("#quantity-alert")[0].innerHTML = "";
            }
            
            window.scrollTo(0, 0);
        }
        else {
            const data = new FormData();
            data.append('user', <%= current_user.id %>);
            data.append('title', title);
            data.append('subtitle', subtitle);
            data.append('image', image);
            data.append('main', main_ingredient);
            data.append('optional', optional_ingredient);
            data.append('seasoning', seasoning);
            data.append('steps', JSON.stringify(steps));
            data.append('ingredients', JSON.stringify(ingredients));
            data.append('types', JSON.stringify(types));
            data.append('quantities', JSON.stringify(quantities));
            data.append('units', JSON.stringify(units));

            $.ajax({
                url : "/yojo/post_yori",
                type : "post",
                data : data,
                processData: false,
                contentType: false
            });
        }
    }
</script>