<!-- Sidebar -->
<div class="sidenav">
  <a href<% if user_signed_in? %>='/yojo/kitchen'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="마이키친 페이지"><img class="icon" src="/assets/fridge.png"><p>마이키친</p></a><br>
  
  <a href<% if user_signed_in? %>='/yojo/yori_book/0'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="내 요리 & 스크랩한 레시피"><img class="icon" src="/assets/book.png"><p>요리북</p></a><br>
  <a href<% if user_signed_in? %>='/yojo/new_yori'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="나만의 레시피를 올려보아요"><img class="icon" src="/assets/edit.png"><p>레시피 올리기</p></a><br>
</div>

<div class="yori-wrapper">
    <div class= "yori">
        <div class="yori-top">
            <div class="image-post"><p>메인에 보여질 사진이에요. 완성된 요리사진을 올려주세요.</p></div>
            <br>
            
             <div class="title-post">
                <p>요리명: <input id="title" class="bar bar-input" type="text" placeholder='레시피의 제목을 입력해 주세요'></p>
                <br>
                
                <p>설명글: <input id="subtitle" class="bar bar-input" placeholder='레시피를 소개할 수 있는 한 줄 설명을 입력해 주세요' type="text-box" ></p>
                <br>
            </div>
        
        </div>
        
        <div class="ingredient-post mt-4">
            <p>
                재료: <input id="ingredient_search" class="bar" type="text" placeholder="재료 검색...">
                <div id="ingredient_results"></div>
            </p>
            <br>
            
            <div class="row" style="display: inline-flex; width: 90%; margin-bottom: 1rem">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <b>필수</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -5vw">
                  <b>양념</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -2vw">
                  <b>재료</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -2vw">
                  <b>개량</b>
                </div>
            </div>
            
            <div id="new_yori_ingredients"></div>
        </div>
        <br>
        <br>
        
        <p style="text-align: left; margin-left: 7rem">조리법:</p>
        <div id="steps">
            <div id="1" class="step">
                <div class="step_num">STEP 1</div>
                [사진] <textarea id="step1" rows="5" cols="50" class="bar" placeholder='레시피 조리 과정을 입력해 주세요'></textarea>
            </div>
            <br>
        </div>
        <br>
        
        <button onclick="addStep()" class="roundbtn">STEP 추가</button>
        <br>
        <br>
        
        <button onclick="addYori()" class="roundbtn">레시피 올리기</button> <button class="roundbtn" onclick="back()">취소</button>
   </div>
</div>       

<script>
    var step = 1;
    
    map.clear();
    new app.YoriIngredients;
    
    function addYori() {
        var title = $('#title').val();
        var subtitle = $('#subtitle').val()
        var main_ingredient = "", optional_ingredient = "", seasoning = "";
        var steps = [];
        var ingredients = [], types = [], quantities = [], units = [];
        
        map.forEach(function(value, key) {
            var row = $('div[id="'+key+'"]').children().children();
            var main = row[0].checked;
            var season = row[1].checked;
            var name = row[2].innerHTML;
            var quantity = $('div[id="'+key+'"]').children().children('.quantity').val();
            var unit = $('div[id="'+key+'"]').children().children('.unit').children('option:selected').text();
            
            if (main) {
                main_ingredient += name+" ("+quantity+unit+"), ";
            }
            if (season) seasoning += name+" ("+quantity+unit+"), ";
            if (!main && !season) optional_ingredient += name+" ("+quantity+unit+"), ";
            
            ingredients.push(value);
            if (main && season) types.push(1);
            if (main && !season) types.push(2);
            if (!main && season) types.push(3);
            if (!main && !season) types.push(4);
            quantities.push(quantity);
            units.push(unit);
            
        });
        main_ingredient = main_ingredient.substring(0, main_ingredient.length-2);
        optional_ingredient = optional_ingredient.substring(0, optional_ingredient.length-2);
        seasoning = seasoning.substring(0, seasoning.length-2);
        
        for (i = 1; i <= step; i++) {
            steps.push($("#"+i).children('textarea').val());
        }

        if (title == "" || main_ingredient == "" || steps == "") {
            if (title == "") {
                alert ("레시피 제목을 추가주세요!");
            }
            if (main_ingredient == "") {
                alert ("필수 재료를 추가해주세요!");
            }
            if (steps == "") {
                alert ("조리 과정을 추가해주세요!");
            }
        }
        else {
            console.log(title);
            console.log(subtitle);
            console.log(main_ingredient);
            console.log(optional_ingredient);
            console.log(seasoning);
            console.log(steps);
            console.log(ingredients);
            
            $.ajax({
                url : "/yojo/post_yori",
                type : "get",
                data : {user: <%=current_user.id%>,
                        title: title,
                        subtitle: subtitle,
                        main: main_ingredient,
                        optional: optional_ingredient,
                        seasoning: seasoning,
                        steps: steps,
                        ingredients: ingredients,
                        types: types,
                        quantities: quantities,
                        units: units
                }
            });
        }
    }
</script>