<br>
<div class="container">
    <!--사진첨부기능추가하기-->
    <p>메인사진</p>
    <br>
       
    <p>요리명: <input id="title" type="text" ></p>
    <br>
    
    <p>설명글: <input id="subtitle" type="text" ></p>
    <br>
    
    
    <p>
        재료: <input id="ingredient_search"  type="text">
        <div id="ingredient_results"></div>
    </p>
    
    <div class="row">
        <div class="col-lg-1">
          <b>필수</b>
        </div>
        <div class="col-lg-1">
          <b>양념</b>
        </div>
        <div class="col-lg-2">
          <b>재료</b>
        </div>
        <div class="col-lg-1">
          <b>개량</b>
        </div>
    </div>
    
    <div id="new_yori_ingredients">
    </div>
    <br>
    
    <p>조리법:</p>
    <div id="steps">
        <div id="1">
            <div class="step_num">STEP 1</div>
            [사진] <textarea id="step1" rows="5" cols="50"></textarea>
        </div>
    </div>
    <br>
    
    <button onclick="addStep()">STEP 추가</button>
    <br>
    <br>
    
    <button onclick="addYori()">레시피 올리기</button> <button onclick="back()">취소</button>
    
    <script>
        var step = 1;
        
        map.clear();
        new app.YoriIngredients;
        
        function addYori() {
            var title = $('#title').val();
            var subtitle = $('#subtitle').val()
            var main_ingredient = "", optional_ingredient = "", seasoning = "";
            var steps = [];
            var ingredients = [], types = [], quantities = [], units = [];
            
            map.forEach(function(value, key) {
                var row = $('div[id="'+key+'"]').children().children();
                var main = row[0].checked;
                var season = row[1].checked;
                var name = row[2].innerHTML;
                var quantity = $('div[id="'+key+'"]').children().children('.quantity').val();
                var unit = $('div[id="'+key+'"]').children().children('.unit').children('option:selected').text();
                
                if (main) {
                    main_ingredient += name+" ("+quantity+unit+"), ";
                }
                if (season) seasoning += name+" ("+quantity+unit+"), ";
                if (!main && !season) optional_ingredient += name+" ("+quantity+unit+"), ";
                
                ingredients.push(value);
                if (main && season) types.push(1);
                if (main && !season) types.push(2);
                if (!main && season) types.push(3);
                if (!main && !season) types.push(4);
                quantities.push(quantity);
                units.push(unit);
                
            });
            main_ingredient = main_ingredient.substring(0, main_ingredient.length-2);
            optional_ingredient = optional_ingredient.substring(0, optional_ingredient.length-2);
            seasoning = seasoning.substring(0, seasoning.length-2);
            
            for (i = 1; i <= step; i++) {
                steps.push($("#"+i).children('textarea').val());
            }
            
            console.log(title);
            console.log(subtitle);
            console.log(main_ingredient);
            console.log(optional_ingredient);
            console.log(seasoning);
            console.log(steps);
            console.log(ingredients);
            
            $.ajax({
                url : "/yojo/post_yori",
                type : "get",
                data : {user: <%=current_user.id%>,
                        title: title,
                        subtitle: subtitle,
                        main: main_ingredient,
                        optional: optional_ingredient,
                        seasoning: seasoning,
                        steps: steps,
                        ingredients: ingredients,
                        types: types,
                        quantities: quantities,
                        units: units
                }
            });
        }
    </script>
</div>