<!-- Sidebar -->
<div class="sidenav">
  <a href<% if user_signed_in? %>='/yojo/kitchen/<%=current_user.id%>'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="your kitchen page"><img class="icon" src="/assets/fridge.png"><p>My Kitchen</p></a><br>
  
  <a href<% if user_signed_in? %>='/yojo/yori_book/<%=current_user.id%>'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="My recipe & scrap recipe"><img class="icon" src="/assets/book.png"><p>My YoriBook</p></a><br>
  <a href<% if user_signed_in? %>='/yojo/new_yori'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="post your own recipe"><img class="icon" src="/assets/edit.png"><p>Upload Recipe</p></a><br>
</div>

<div class="yori-wrapper">
    <div class= "yori">
        <div class="yori-top">
            <div class="image-post"><p>Upload the main image of your recipe.</p></div>
            <br>
            
            <div class="title-post">
                <p>Yori Name: <input id="title" class="bar bar-input" type="text" placeholder="Enter your recipe's name."></p>
                <p id="title-alert" ></p>
                <br>
                <p>Description: <input id="subtitle" class="bar bar-input" placeholder="Describe your recipe in a line or two." type="text-box" ></p>
                <br>
                <p id="subtitle-alert"></p>
            </div>
        </div>
        
        <div class="ingredient-post mt-4">
            <p id="bar-text">
                Ingredient: <input id="ingredient_search" class="bar" type="text" placeholder="Type ingredient here.">
                <div id="ingredient_results"></div>
            </p>
            <br>
            
            <p id="main-alert"></p> <p id="quantity-alert"></p>
            <div class="row" style="display: inline-flex; width: 90%; margin-bottom: 1rem">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <b>Main</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -5vw">
                  <b>Optional</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -2vw">
                  <b>Ingredient</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -2vw">
                  <b>Measure</b>
                </div>
            </div>
            
            <div id="new_yori_ingredients"></div>
        </div>
        <br>
        <br>
        
        <p id="step-alert"></p>
        <div id="steps">
            <div id="1">
                <div class="step_num">STEP 1</div>
                [image] <textarea id="step1" class="bar" rows="5" cols="50" placeholder='Add steps to complete your recipe.'></textarea>
                <button class="roundbtn" onclick="addMiddleStep(this)">add</button>
            </div>
        </div>
        
        <br>
        <br>
        <br>
        
        <button onclick="addYori()" class="roundbtn">upload</button>
        <button class="roundbtn" onclick="back()">cancel</button>
   </div>
</div>       

<script>
    var step = 1;
    
    map.clear();
    new app.YoriIngredients;
    
    function addYori() {
        var title = $('#title').val();
        var subtitle = $('#subtitle').val()
        var main_ingredient = "", optional_ingredient = "", seasoning = "";
        var steps = [];
        var ingredients = [], types = [], quantities = [], units = [];
        
        map.forEach(function(value, key) {
            var row = $('div[id="'+key+'"]').children().children();
            var main = row[0].checked;
            var season = row[1].checked;
            var name = row[2].innerHTML;
            var quantity = $('div[id="'+key+'"]').children().children('.quantity').val();
            var unit = $('div[id="'+key+'"]').children().children('.unit').children('option:selected').text();
            
            if (main) {
                main_ingredient += name+" ("+quantity+unit+"), ";
            }
            if (season) seasoning += name+" ("+quantity+unit+"), ";
            if (!main && !season) optional_ingredient += name+" ("+quantity+unit+"), ";
            
            ingredients.push(value);
            if (main && season) types.push(1);
            if (main && !season) types.push(2);
            if (!main && season) types.push(3);
            if (!main && !season) types.push(4);
            quantities.push(quantity);
            units.push(unit);
        });
        main_ingredient = main_ingredient.substring(0, main_ingredient.length-2);
        optional_ingredient = optional_ingredient.substring(0, optional_ingredient.length-2);
        seasoning = seasoning.substring(0, seasoning.length-2);
        
        for (i = 1; i <= step; i++) {
            steps.push($("#"+i).children('textarea').val());
        }

        var empty_quantity = false;
        console.log(quantities);
        quantities.forEach(function(i) {
            if (i == "") {
                empty_quantity = true;
            }
        });
        
        var empty_step = false;
        console.log(steps);
        steps.forEach(function(i) {
            if (i == "") {
                empty_step = true;
            }
        });
        
        if (title == "" || main_ingredient == "" || empty_quantity || empty_step) {
            if (title == "") {
                $("#title-alert")[0].innerHTML = "*Please add your recipe name.*";
            } else {
                $("#title-alert")[0].innerHTML = "";
            }
            
            if (main_ingredient == "") {
                $("#main-alert")[0].innerHTML = "*Please add a main ingredient*"
            } else {
                $("#main-alert")[0].innerHTML = "";
            }
            
            if (empty_step) {
                $("#step-alert")[0].innerHTML = "*Please add a step.*"
            } else {
                $("#step-alert")[0].innerHTML = "";
            }
           
            if (empty_quantity) {
                $("#quantity-alert")[0].innerHTML = "*Please add a measure.*"
            } else {
                $("#quantity-alert")[0].innerHTML = "";
            }
            
            window.scrollTo(0, 0);
        }
        else {
            console.log(title);
            console.log(subtitle);
            console.log(main_ingredient);
            console.log(optional_ingredient);
            console.log(seasoning);
            console.log(steps);
            console.log(ingredients);
            
            $.ajax({
                url : "/yojo/post_yori",
                type : "get",
                data : {user: <%=current_user.id%>,
                        title: title,
                        subtitle: subtitle,
                        main: main_ingredient,
                        optional: optional_ingredient,
                        seasoning: seasoning,
                        steps: steps,
                        ingredients: ingredients,
                        types: types,
                        quantities: quantities,
                        units: units
                }
            });
        }
    }
</script>