<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--Header-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">YOJO</a>
        <div class="navbar-collapse" style="">
          <ul class="navbar-nav ml-auto">
            <li>
              <% if user_signed_in? %>
                <li class="nav-link">
                <%= link_to 'Log Out', destroy_user_session_path, method: 'delete' %>
                </li>
              <% else %>
                <li class="nav-link">
                <%= link_to 'Log In', new_user_session_path %>
                </li>
                <li class="nav-link">
                <%= link_to 'Sign Up', new_user_registration_path %>
                </li>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
        <div>
            <h2> My Yoribook </h2>
        </div>
    </header>
    
    <div class="main-wrapper yoribook">
      <!--Yoribook-->
      <div class="tab tab-outside">
          <button class="tablinks" onclick="openCity(event, 'myrecipe')">내 레시피</button>
          <button class="tablinks" onclick="openCity(event, 'scrapbook')">내 스크랩</button>
          <button class="tablinks" onclick="openCity(event, 'all')">전체보기</button>
      </div>
      
      
      <div class="cover-wrapper">
          <!--Yoribook page: left-->
          <div class="page-left">
              <div class="recipe-wrapper">
                  <span></span>
              </div>
              <div class="comment-wrapper">
          
              </div>
          </div>
              
          <!--Yoribook page: right-->
          <div class="page-right">
              <div class="recipe-wrapper">
                  <span></span>
              </div>
              <div class="comment-wrapper">
              
              </div>
          </div>
        </div>
    </div>

    <!--Navigation-->
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a class="active" href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>
    <a href="/yojo/test">레시피 찾기</a>
    <a href="/yojo/new_yori">레시피 등록</a>
    