<h1>레시피 등록하기</h1>
<form action="/posts/create">
    <div style="background-color:lightblue">
        <p>Name</p>
        <input type="text" name="input_name">
        
        <p>Subtitle</p>
        <input type="text" name="input_subtitle">
    </div>
    
    <div>
        <p>Ingredients</p>
        <input type="text" name="input_ingredients">
        <!--<button id="btn1">Add Ingredient</button>-->
    </div>
    
    <div>
        <p>Steps</p>
        <input type="text" name="input_steps">
    </div>
    
    <p>Save</p>
    <input type="submit">
</form>