.kitchen-background-wrapper {
   
}    

$profileWrapperMargin: 20px;

.profile-wrapper {
    position: fixed;
    top: 50px;
    left: $profileWrapperMargin;
}

.main-wrapper {
    margin: auto;
    width: 90%;
    height: 100vh;
    display: flex;
}

.main-left {
    width: 40%
}

.main-right {
    width: 60%;
}

.main-left,
.main-right {
    height: 100%;
    padding: 20px;
}

.shelf-wrapper,
.recommendation-wrapper {
    width: 100%;
    height: 50%;
    
    .row {
        height: 100%;
    }
}

.shelf-wrapper {
    & > div {
        background-color: white;
        position: relative;
    }    
}

$shelfHeight: 10px;

.shelf-upper,
.shelf-lower {
    width: 60%;
    height: 30%;
    padding-bottom: $shelfHeight;
    
    &:before {
        content: '';
        position: absolute;
        background-color: tan;
        border: 1px solid black;
        width: 100%;
        height: $shelfHeight;
        left: 0;
        bottom: 0;
    }
}

.shelf-upper {
    margin-left: auto;
    ul {
        margin: 0;
        padding: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    li {
        height: 100%;
        width: 50%;
        position: relative;
        list-style: none;
        text-align: center;
        
        a {
            background-position: bottom;
            bottom: 0;
            text-decoration: none;
            color: black;
            font-size: 1.7em;
            font-family: godoMaum;
        }
    }
}

.shelf-lower {
    background-position: bottom;
    bottom: 0;
    text-decoration: none;
    color: black;
    font-size: 1.7em;
    font-family: godoMaum;
}

.center {
    display: flex;
    width: 30vw;
    height: 10vh;
    text-align: center;
}

.jar {
    text-align: center;
    position: relative;
    margin: auto;
    
    img {
        position: relative;
        top: 5vh;
    }
    
    p {
        position: relative;
        top: 5vh;
        z-index:1;
    }
    
    li {
        height: 100%;
        width: 35%;
        position: relative;
        list-style: none;
        a {
            background-size: 60%;
            background-position: bottom;
            position: absolute;
            bottom: 0;
            text-decoration: none;
            
            span {
                position: relative;
                top: 80%;
                color: black;
                background-color: rgba(255,255,255,.7);
                font-size: 1.7em;
                font-family: godoMaum;
            }
        }
        &.jar-recipe a{
            background-image: url(/assets/jar.png);
        }
        &.jar-following a{
            background-image: url(/assets/jar.png);
        }
        &.jar-follower a{
            background-image: url(/assets/jar.png);
        }
    }
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

.shelf-bottom {
    width: 100%;
    height: 40%;
    
    ul {
        margin: 0;
        padding: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    li {
        height: 100%;
        width: 35%;
        position: relative;
        list-style: none;
        
        a {
            background-size: 60%;
            background-position: bottom;
            position: absolute;
            bottom: 0;
            text-decoration: none;
            span {
                position: relative;
                top: 80%;
                color: black;
                background-color: rgba(255,255,255,.7);
                font-size: 1.7em;
                font-family: godoMaum;
            }
        }
        
        &.shelf-yoribook a{
            background-image: url(/assets/book.png);
        }
        
        &.shelf-postyori a{
            background-image: url(/assets/edit.png);
        }
        
        &.shelf-yorijohap a{
            background-image: url(/assets/utensil.png);
        }
    }
    
    a {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        bottom: 0;
    }
}

.shelf-upper, .shelf-lower {
    a:hover {
        color: tomato;
        text-decoration: none;
    }
}

.shelf-bottom {
    a:hover span {
        color: tomato;
    }
}
.shelf-wrapper {
    height: 60%;
}

.recommendation-wrapper {
    height: 40%;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

input {
    margin-left: 1em;
}

.bar {
  font-size: 1em;
  padding: .5em 1.3em;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 2em;
  &:focus {
    border-color: #A5CEF5;
    outline: none;
  }
}

button {
    margin-left: 1em;
}

#ingredient_results {
  text-align: left;

  .ui-widget-content {
    background: #fff;
    font-size: .9em;
    padding: .5em 0;
    border-color: #ddd;
    box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
    line-height: 1.2;
    max-height: 20em;
    overflow: hidden;
    overflow-y: auto;
  }

  .ui-menu-item {
    padding: .4em .4em .4em .4em;
    position: relative;
    border: 0;
    border-left: 5px solid transparent;
    position: relative;
  }

  .ui-state-active {
    color: #08c;
  }
}

.icon {
  width: 80px;
  height: 80px;
}

.fridge-bottom {
    .bar {
        margin-top: 5%;
    }
}


#carousel {
    height: 40%;
    .carousel-inner, .carousel-item {
        height: 100%;
    }
    .carousel-inner {
        border: 1px solid black;
    }
    
    .carousel-item {
        padding: 10px;
    }
    
}

#carousel {
    .carousel-control-prev,
    .carousel-control-next {
        width: 2rem;
    }
    
    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: rgba(200, 200, 200, 0.7);
    }
}