$fridgeBorderRadius: 28px;
$fridgeHandleWidth: 17px;
$fridgeHandleHeight: 207px;
$fridgeHandleOffset: 32px;
$fridgeOpenPerspective: 800;
$fridgeOpenRotateDeg: 120deg;
$fridgeOpenTransition: 700ms;

.fridge-wrapper {
    width: 100%;
}

.fridge-wrapper {
    background-color: white;
    height: 100%;
    position: relative;
    border: 1px solid black;
    border-radius: $fridgeBorderRadius;
    display: flex;
    flex-direction: column;
}

.fridge-top,
.fridge-bottom {
    width: 100%;
    position: relative;
    text-align: center;
}

.fridge-top {
    height: 70%;
}

.fridge-top-inner {
    background-image: url(/assets/fridge-inside.png);
    background-size: 100% 100%;
    height: 80%;
    width: 90%;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
    border-radius: $fridgeBorderRadius;
    font-size: 1.5em;
    text-align: left;
    padding: 8px;
    overflow: hidden;
}

.fridge-bottom {
    height: 30%;
    border-top: 1px solid black;
    padding: 20px;
}

.fridge-door-left,
.fridge-door-right {
    display: block;
    position: absolute;
    background: white;
    top: 0;
    width: 50%;
    height: 100%;
    transition: all $fridgeOpenTransition linear;
    will-change: transform;
    border: 1px solid black;
    
    // handle
    &:after {
        position: absolute;
        content: "";
        display: block;
        width: $fridgeHandleWidth;
        height: $fridgeHandleHeight;
        border: 1px solid black;
        background: #fff;
        top: 25%;
        height: 50%;
    }
    
    //fade out fridge doors
    .fridge-opened & {
        animation: fridge-door-fadeOut 300ms $fridgeOpenTransition ease-out forwards;
    }
}

.fridge-door-left {
    transform-origin: 0% 50%;
    border-top-left-radius: $fridgeBorderRadius;
    &:after {
        right: $fridgeHandleOffset - $fridgeHandleWidth;
    }
    
    .fridge-opened & {
        -webkit-transform: perspective($fridgeOpenPerspective) rotateY(-$fridgeOpenRotateDeg);
        transform: perspective($fridgeOpenPerspective) rotateY(-$fridgeOpenRotateDeg);
    }
}

.fridge-door-right {
    transform-origin: 100% 50%;
    right: 0;
    border-top-right-radius: $fridgeBorderRadius;
    
    &:after {
        left: $fridgeHandleOffset - $fridgeHandleWidth;
    }
    
    .fridge-opened & {
        -webkit-transform: perspective($fridgeOpenPerspective) rotateY($fridgeOpenRotateDeg);
        transform: perspective($fridgeOpenPerspective) rotateY($fridgeOpenRotateDeg);
    }
}

@keyframes fridge-door-fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fridge-handle-bottom {
    top: $fridgeHandleOffset;
    left: 50%;
    transform: translateX(-50%);
    height: $fridgeHandleWidth;
    width: 100%;
    max-width: $fridgeHandleHeight;
}

.fridge-wrapper {
    #kitchen_list, #ingredient_search, #update_button, #close_fridge {
        display: none;
    }
}

#kitchen_list_li {
    display:inline-block; 
    margin-right: .3em;
    margin-bottom: .3em;
    color: black;
    padding: 4px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    border-radius: 8em;
    background-color: #e8e8e8;
    font-family: godoMaum;
    font-size: 0.9em;
    cursor: pointer;
}

#update_button {
    position: absolute;
    right: 2rem;
    top: 1rem;
}

#clear_fridge {
    position: absolute;
    right: 2rem;
    bottom: 5rem;
}