$profileWrapperMargin: 20px;

.profile-wrapper {
    position: fixed;
    top: 50px;
    left: $profileWrapperMargin;
}

.main-wrapper {
    margin: auto;
    width: 80%;
    height: 100vh;
    display: flex;
}

.main-left,
.main-right {
    width: 50%;
    height: 100%;
    padding: 20px;
}

.shelf-wrapper,
.recommendation-wrapper {
    width: 100%;
    height: 50%;
}

.shelf-wrapper {
    & > div {
        background-color: white;
        position: relative;
    }    
}

$shelfHeight: 10px;

.shelf-upper,
.shelf-lower {
    width: 60%;
    height: 30%;
    padding-bottom: $shelfHeight;
    
    &:before {
        content: '';
        position: absolute;
        background-color: #fff;
        border: 1px solid black;
        width: 100%;
        height: $shelfHeight;
        left: 0;
        bottom: 0;
    }
}

.shelf-upper {
    margin-left: auto;
}

.shelf-bottom {
    width: 100%;
    height: 40%;
    
    ul {
        margin: 0;
        padding: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    li {
        height: 100%;
        width: 35%;
        top: 10%;
        bottom: 0;
        position: relative;
        list-style: none;
        
        &.shelf-yoribook a{
            background-image: url(/assets/book.png);
            background-size: 100px 100px;
            position: absolute;
            bottom: 0px;
        }
        
        &.shelf-postyori a{
            background-image: url(/assets/edit.png);
            background-size: 100px 100px;
            position: absolute;
            bottom: 0px;

        }
        
        &.shelf-yorijohap a{
            background-image: url(/assets/utensil.png);
            background-size: 100px 100px;
            position: absolute;
            bottom: 0px;
        }
    }
    
    a {
        display: block;
        width: 90%;
        height: 90%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        bottom: 0;
        
        p {
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            margin-top: 100px;
        }
    }
}

.recommendation-wrapper {
    text-align: center;
    border: 1px solid black;
}

input {
    margin-left: 1em;
}

.bar {
  font-size: 1em;
  padding: .5em 1.3em;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 2em;
  &:focus {
    border-color: #A5CEF5;
    outline: none;
  }
}

button {
    margin-left: 1em;
}

#ingredient_results {
  text-align: left;

  .ui-widget-content {
    background: #fff;
    font-size: .9em;
    padding: .5em 0;
    border-color: #ddd;
    box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
    line-height: 1.2;
    max-height: 20em;
    overflow: hidden;
    overflow-y: auto;
  }

  .ui-menu-item {
    padding: .4em .4em .4em .4em;
    position: relative;
    border: 0;
    border-left: 5px solid transparent;
    position: relative;
  }

  .ui-state-active {
    color: #08c;
  }
}

.icon {
  width: 80px;
  height: 80px;
}