// Fonts

body, 
.font, 
.sign, 
.yori-wrapper, 
.card-body,
.recipe-left,
.yori,
.fridge-top {
    font-family: godo;
}

.book-tab,
.navi-tab,
.card-text,
.fridge-top-inner {
    font-family: godoMaum;
}



body {
    padding-top: 56px;

    .sign {
        margin-top: 20px;
    }
}

#page-list {
    display: inline-flex;
    margin: 2rem;
}

#current-page {
    color: tomato;
}

.page-center {
    margin-top: 3rem;
    text-align: center;
}
// .font {
//         font-family: godo;
// }


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sidenav {
    width: 12%;
    position: sticky;
    float: left;
    z-index: 1;
    top: 6rem;
    margin-top: 3rem;
    left: -5%;
    overflow-x: hidden;
    padding: 8px 0;
    text-align: center;
    min-width: 100px;
    
    a {
        font-family: godoMaum;
        font-size: 1.5em;
        text-decoration: none;
        color: black;
    }
        a:hover {
        color: tomato;
        text-decoration: none;
    }
}

.result-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
}

#mi_rectangle {
    width:30%;
    height:30px;
    background:#0000;
    position:left;
    top:0;
    left:0;
}

.nav-link {
    a {
        color: white;
    }
}

.ui-helper-hidden-accessible { display:none; }

.search-wrapper {
    text-align: center;
    width: 88%;
    padding: 2em;
    float: left;
    margin-top: 1rem;
    
    .types {
        font-size: .9em;
        font-family: godo;
        
    }
    
    input {
        margin-left: 1em;
        
        // &[type="radio"] {
        //     display: none;
        // }
    }
    
    label {
        position: relative;
    }
    
    p {
        padding-left: 24px;
    }
    
    // span{
    //     position: absolute;
    //     width: 20px;
    //     height: 20px;
    //     left: 0;
    //     cursor: pointer;
        
    //     &.button {
    //         border:1px;
    //         border-radius: 999px;
    //         background: #eee;
            
    //     }
    //     &.check {
    //         background: tomato;
    //         border-radius: 999px;
    //         display: none;
    //     }
    // }
    
    // span:hover {
    //     color: #2196F3;
        
    // }
    
    // input:checked ~ span.check {
    //     display: block;
    // }
    
    .bar {
      font-size: 1em;
      padding: .5em 1.3em;
      background: transparent;
      border: 1px solid #ddd;
      border-radius: 2em;
      &:focus {
        border-color: #A5CEF5;
        outline: none;
      }
    }
}

#ingredient_results {
    text-align: left;
    position: absolute;
    z-index: 1;
    
    .ui-widget-content {
        background: #fff;
        font-size: .9em;
        padding: .5em 0;
        border-color: #ddd;
        box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
        line-height: 1.2;
        max-height: 20em;
        overflow: hidden;
        overflow-y: auto;
        width: 10rem;
    }
    
    .ui-menu-item {
        padding: .4em .4em .4em .4em;
        position: relative;
        border: 0;
        border-left: 5px solid transparent;
        position: relative;
    }
    
    .ui-state-active {
        color: #08c;
    }
}

#filters {
    color: #08c;
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: left;
    span {
        margin-right: .5em;
        color: black;
        padding: 6px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
        border-radius: 5em;
        background-color: lightgray;
        font-family: godoMaum;
        font-size: 1.5em;
        cursor: pointer;

    }
}

#results {
    width: 88%;
    position: relative;
    margin-top: 3rem;
    text-align: center;
    overflow: hidden;
    
    p {
        font-size: 1.4rem;
        font-family: godoMaum;
        color: gray;
    }
    
}

.card-title {
    p {
        font-size: 1.4rem;
        font-family: godoMaum;
        color: gray;
    }
}

.masthead {
    position: relative;
    top: -56px;
    min-height: 100vh;
    display: table;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    //background-image: url('/assets/cover.jpg');
    background-image: url('/assets/yojo-cover-circle.jpg');
    background-repeat: no-repeat;
    //background-size: cover;
    //background-position: center center;
    background-size: 110% 110%;
    background-position: 40% 20%;
    margin-bottom: -56px;
    
    a:hover {
        color: black;
        text-decoration: none;
    }
}

// .circle {
//     position:absolute;
    
// }


#logo {
    color: tomato;
    font-weight: bold;
    // text-shadow: 0 0 5px lightgray;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.bg-light {
    background-color: white
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}


.roundbtn {
    background-color: tomato;
    color: white;
    border-color: tomato;
    border-radius: 5rem;
    text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    text-align: center;
    line-height: .4;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: .5px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: uppercase;
    padding: 1rem 1rem;
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
}

.roundbtn:focus {
    outline: none;
}

.roundbtn:hover {
    color: black;
}

// .btn {
//     display: inline-block;
//     text-align: center;
//     white-space: nowrap;
//     vertical-align: middle;
//     user-select: none;
//     border: 1px solid transparent;
//     border-radius: 5rem;
//     line-height: 1.5;
//     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

//     box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
//     font-weight: 700;
// }

// .btn-primary {
//     background-color: white;
//     border-color: white;
// }

// .btn-xl {
//     text-transform: uppercase;
//     padding: 1.5rem 3rem;
//     font-size: .9rem;
//     font-weight: 700;
//     /* letter-spacing: .1rem; */
// }

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#navbar {
    background-color: rgba(200, 200, 200, .8)
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(200, 200, 200);
}

.navbar>.container, .navbar>.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

:link_to {
    color: white;
}

.nav-link {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    display: block;
    padding: .5rem 1rem;
}

.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}

.card-wrap {
    margin: 1em auto;
    padding: 2em;
}

.card-title {
    margin-top: .75rem;
    margin-bottom: .75rem;
    text-align: center;
    a {
        color: tomato;
    }
    font-family: godo;
    a:hover {
        text-decoration: none;
        color: black;
    }
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    height: 200px;
}

.card-body1 {
    margin: auto;
    font-size: 1.5rem;
}

.card-img-top {
    height: 25vh;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    overflow: hidden;

}

a {
    &#yojo {
        color: white;
    }
}
    
.kitchen_icon {
    background: url(/assets/fridge.png) no-repeat;
    width: 80px;
    height: 80px;
    display: inline-block;

    &:hover {
        background: url(/assets/fridge_color.png) no-repeat;
    }
}

.sign {
  margin-top: 40px;
  margin: auto;
  width: 400px;
  border: 4px solid;
  border-color: tomato;
  border-radius: 16px;
  padding: 20px;
  min-width: 300px;
  font-size: 1.2em;
//   font-family: godo;
  
  span {
      font-size: .8em;
  }
  
}

.sign-wrap {
    padding: 20px;
}

@font-face {
  font-family: "godoMaum";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/godoMaum.ttf) format("truetype");
}
.godoMaum * { font-family: 'GodoMaum', sans-serif; 
}


@font-face { 
    font-family: 'Godo'; 
    font-style: normal; 
    font-weight: 400; 
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff'); } @font-face { font-family: 'Godo'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff'); 
    } 
    .godo * { font-family: 'Godo', sans-serif; 
    }
    
    .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
