.main-wrapper {
    position: relative;
    margin: auto;
    width: 90%;
    height: 100vh;
    display: flex;

    &.yoribook {
        background-image: url(/assets/openbook.png);
        background-position: center;
        // background-size: cover;
        background-size: 100% 98%;
        background-repeat: no-repeat;
        // background-color: rgba(0,0,0,0.05); 
        padding: 3%;
    }
}

.cover-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
}

.recipe-wrapper,
.comment-wrapper {
    background-color: rgba(255,0,0,.5); 
}

.recipe-wrapper {
    width: 48%;
    height: calc(50% - 16px);
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    padding: 5px;
}

input {
    margin-left: 1em;
}

.recipe-left,
.recipe-right {
  width: 50%;
  height: 100%;
}

.recipe-right {
    padding: 19px 25px 19px 20px;
    
    p {
        margin-top: 15%;
        text-align: left;
        background-position: bottom, right;
        
        &:first-of-type {
            margin-top: 0;
        }
    }
}

.recipe-picture-wrapper {
    height: 80%;
    background-position: top, left;
    background-color: gray;
}

.recipe-name-wrapper {
    height: 20%;
    border: 1px solid black;
    background-position: bottom, left;
}


.bar {
  font-size: 1em;
  padding: .5em 1.3em;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 2em;
  &:focus {
    border-color: #A5CEF5;
    outline: none;
  }
}

button {
    margin-left: 1em;
}

.tab {
  position: absolute;
  top: 0;
  padding-top: 30px;
  
  &.tab-inside {
    right: 10px;
  }
  
  &.tab-outside {
    right: -50px;  
  }
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    color: black;
    padding: 10px 10px;
    margin-bottom: 54px;
    width: 90px;
    height: 80px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    transform: rotate(90deg);
    background-color: tomato;
    
    &:last-of-type {
      margin-bottom: 0;
    }
}


/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}